<nav class="navbar navbar-expand-lg navbar-dark navbar-gradient">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <i class="fa fa-music" aria-hidden="true"></i>
      Music UCAD
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">
            <i class="fa fa-home" aria-hidden="true"></i> Inicio
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="multimediaDropdown" role="button" 
             data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-music" aria-hidden="true"></i> Multimedia
          </a>
          <ul class="dropdown-menu" aria-labelledby="multimediaDropdown">
            <li>
              <a class="dropdown-item" routerLink="/canciones" routerLinkActive="active">
                <i class="fa fa-list" aria-hidden="true"></i> Canciones
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/reproductor" routerLinkActive="active">
                <i class="fa fa-play-circle" aria-hidden="true"></i> Reproductor
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="informacionDropdown" role="button" 
             data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-info-circle" aria-hidden="true"></i> Información
          </a>
          <ul class="dropdown-menu" aria-labelledby="informacionDropdown">
            <li>
              <a class="dropdown-item" routerLink="/uso-canciones" routerLinkActive="active">
                <i class="fa fa-book" aria-hidden="true"></i> Uso de Canciones
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/uso-reproductor" routerLinkActive="active">
                <i class="fa fa-play-circle" aria-hidden="true"></i> Uso del Reproductor
              </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" routerLink="/about" routerLinkActive="active">
                <i class="fa fa-info-circle" aria-hidden="true"></i> Acerca de
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown" *ngIf="currentUser">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
             data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-user" aria-hidden="true"></i> 
            {{ currentUser.email }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="#" (click)="logout(); $event.preventDefault()">
                <i class="fa fa-sign-out" aria-hidden="true"></i> Cerrar Sesión
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
