<div class="row">
  <div class="col-12">
    <div class="jumbotron bg-light p-5 rounded">
      <h1 class="display-4">
        <i class="fa fa-music" aria-hidden="true"></i>
        Bienvenido a Music CRUD
      </h1>
      <p class="lead">Gestiona tu colección de música con Firebase</p>
      <hr class="my-4">
      <p>Administra tus canciones, artistas, álbumes y más.</p>
      <a class="btn btn-primary btn-lg" routerLink="/canciones" role="button">
        <i class="fa fa-list" aria-hidden="true"></i>
        Ver Canciones
      </a>
    </div>
  </div>
</div>

